<section>
  <fieldset>
    <p>
      这是一个有趣的 URL 延长工具，就是你现在所在的这个页面
    </p>
  </fieldset>
  <Fragment set:html={import.meta.env.CONTENT_INJECT} />
</section>

<style>
  fieldset {
    width: auto;
    margin-bottom: 1rem;
  }

  p {
    margin: 0.5rem 0;
  }

  .break-all {
    word-break: break-all;
  }
</style>
